<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testlibrary">

    <!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <!-- BLUETOOTH权限是BLUETOOTH_ADMIN权限的前提, 如果没有BLUETOOTH权限, 就不能使用BLUETOOTH_ADMIN权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission><!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission><!-- 允许程序连接到已配对的蓝牙设备, 请求连接/接收连接/传输数据需要改权限, 主要用于对配对后进行操作 -->
    <!--  BLE 权限 -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <!--
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
     -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>